# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venv311/
.venv/
env/

# Databases
*.db
*.sqlite3

# Environment variables
.env

# Firebase secrets
firebase_admin_key.json
frontend/firebase_config.js

# IDE
.vscode/

# Uploads & generated outputs
static/uploads/
results/
backend/results/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db