# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venv311/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/

# Uploads & outputs
static/uploads/
results/
backend/results/

# Logs
*.log

# Databases
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Firebase secrets
firebase_admin_key.json
frontend/firebase_config.js